
body html {
    margin:auto;
    padding:auto;
    background-size: auto;
    
}




/***************************************HEADER**************************************************/

header p {font-size: 27px;}

header{
    position:absolute;
    left:0;
    right:0;
    z-index: 1;
}

header a {
    margin-left:24px;
    color:lightslategray;
}
header a:hover {
    color:black;
}
header a:visited {
    color: black;
}
#menu-icon {width:32px;}
/***************************************HERO*************************************************/

#hero-section {
    background-image: url(../imgs/hero.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    min-height: 60vh;
    background-position:center center;
    max-width: 100%;
    background-repeat: no-repeat;
    display:block;
    
    
}


#hero-section h3  {

    height: 30px;
    color:white;
    margin: 10px 30px 30px 40px;
    font-size: 18px;
    text-align: center;
    width: 450px;
    position: absolute;
}

.bg-success {
width:650px;
font-size:15px;
text-align: bottom ;
position:absolute;
}



/********************************INTRO-SECTION************************************************/

#intro-section {
    background: #eae7de;
    max-width: 100%;
    
    min-height:1100px;
    background-position:absolute ;
    background-repeat: no-repeat;
    background-size: cover;
    
}

 li { font-size: 13px;}

/**********************************MENU-SECTION***********************************************/

#menu-section {

    background-position: absolute;
    
}



 











hr.style8 {
    border-top: 1px solid #8c8b8b;
    margin: 0 116px 0 101px;
}

h6 {margin:0 0 0 112px;}


/**********************************INFO-SECTION***********************************************/

#contact-info-section {


    background: #262626;
     
    min-height:350px;
    position: relative;
    
   
    background-repeat: no-repeat;
    background-size: cover;
    
}

#contact-info-section li  {

color:#8c8c8c;


}

#contact-info-section h5 {
text-align: justify;

    
}


.segment-one h5 {
margin: 0 0 0 -15px;
    
}

.segment-one ul li {

font-size: 13px;



}

.segment-two  ul {


    
    padding: 0px;
    list-style: none;
}
.segment-two ul li {
    border-bottom: 1px solid whitesmoke; 
    line-height: 35px;
    
    
}




 .segment-two a {
     color: white;
     
 }

.segment-two a:hover {
    color:white;
    text-align: left;

}



/*************/

.segment-two1  ul {


    
    padding: 0px;
    list-style: none;
}
.segment-two1 ul li {
    border-bottom: 1px solid whitesmoke; 
    line-height: 30px;
    
    
}




 .segment-two1 a {
     color: white;
     
 }

.segment-two1 a:hover {
    color:white;
    text-align: left;
}


















/*************************************FOOTER****************************************/

#footer {

    background-color: black;
    width:100%;
    min-height:90px;
    background-repeat: no-repeat;
    
}
#footer ul  li {
    color:#8c8c8c;

}




@media (max-width: 576px) {

    #hero-section {

        background-size: contain;

        min-height: 20vh;

    }

    .bg-success {

        font-size:80% !important;

        margin: 10px 20px 10px !important;

        padding-top: 5px;

    }

 }